html {
    overflow-y: auto;
}

body {
    height: 100vh;
}

#simulator-tab-view {
    display: none;
}

#editor-tab-view {
    overflow: hidden;
    width: 100%;
}

#asm-editor {
    width: 100%;
    height: 88vh;
    max-height: 88vh;
    font-family: Courier New, Courier, monospace;
}

.section {
    padding: 0 1.5rem;
}

#mc-column {
    width: 20%;
}

#bc-column {
    width: 30%;
}

#oc-column {
    width: 50%;
}

#program-listing {
    font-family: Courier New, Courier, monospace;
}

#program-listing-body {
    overflow: auto;
    height: 100%;
}

#program-listing-body tr.is-breakpoint {
    background-color: #ff3860;
    color: white;
}

#program-listing-body tr.is-selected {
    background-color: #00d1b2;
    color: white;
}

#program-listing-body tr {
    cursor: pointer;
}

#program-listing-container {
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
}

#sidebar-listings-container {
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
}

#sidebar-listings-container > .panel {
    height: 100%;
}

#listing-panel {
    min-height: 95%;
}

#register-tab-view {
    font-family: Courier New, Courier, monospace;
}

#memory-tab-view {
    display: none;
}

#memory-table {
    font-family: Courier New, Courier, monospace;
    margin: auto;
}

#memory-table th {
    text-align: center;
    vertical-align: middle;
}

#memory-table td {
    text-align: center;
    vertical-align: middle;
}

#console-output {
    height: 100%;
    font-family: "courier new", monospace;
}

.tabs {
    margin-top: 1em;
}

#simulator-run.is-loading {
    pointer-events: auto;
}

#register-tab-view .input {
    font-family: Courier New, Courier, monospace;
    border-width: 2px;
}

#register-tab-view .field.is-horizontal {
    width: 100%;
}

.input.is-modified {
    border-color: #3273dc;
}

#addr-column {
    width: 40%;
}

.byte-column {
    width: 15%;
}

.panel-block > .field {
    width: 100%;
}
